openapi: 3.1.0
info:
  version: 1.29.1
  x-api-id: a9defed7-6536-46e7-a38c-bf2675252ce3
  x-audience:
    - exalsius-cli
    - exalsius-api
  title: exalsius API
  contact:
    name: Contact our support
    email: support@exalsius.ai
    url: https://exalsius.ai
  license:
    name: Apache-2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: logo.png
    altText: exalsius logo
  description: >
    The exalsius REST API enables programmatic access to GPU infrastructure
    management and orchestration capabilities.

    Access the API through the `exls` command-line tool or integrate it directly
    into your applications using standard HTTP requests.

    The API covers several areas:

    * **GPU Market Offers** Browse and compare GPU instance pricing across
    public cloud providers and hyperscalers.

    * **Operator Integration** Coordinates with the
    [exalsius-operator](https://github.com/exalsius/exalsius-operator) running
    in a management Kubernetes cluster to handle infrastructure provisioning and
    node lifecycle management.

    * **Node Management** Import cloud-provider instances or self-managed nodes
    (via SSH) into your node pool. Hardware characteristics of self-managed
    nodes are discovered automatically.

    * **Cluster Provisioning** Create and manage Kubernetes clusters on
    supported cloud providers or self-managed bare-metal infrastructure.

    * **Service Deployment** Deploy infrastructure services such as the NVIDIA
    GPU Operator, KubeRay, Flyte, or Kubeflow onto your clusters.

    * **Workspace Deployment** Provision application workloads including Jupyter
    Notebook servers, LLM inference services, and other compute workloads on
    your clusters.
servers:
  - url: https://api.exalsius.ai/v1
    description: exalsius API
tags:
  - name: offers
    description: Browse available GPU instances and their pricing across cloud providers
  - name: performance-prediction
    description: Estimate runtime performance for GPU-accelerated workloads
  - name: nodes
    description: Manage your node pool, including importing and configuring compute nodes
  - name: clusters
    description: Deploy, configure, and monitor Kubernetes clusters
  - name: colonies
    description: Organize clusters into groups for coordinated management and scheduling
  - name: services
    description: Deploy infrastructure services onto clusters
  - name: workspaces
    description: Provision and manage application workloads on clusters
  - name: management
    description: Configure SSH keys, templates, and other system settings
paths:
  /offers:
    $ref: ./paths/offers.yaml
  /performance-prediction:
    $ref: ./paths/performance-prediction.yaml
  /nodes:
    $ref: ./paths/nodes/list.yaml
  /node/{node_id}:
    $ref: ./paths/nodes/node.yaml
  /node/import/ssh:
    $ref: ./paths/nodes/import-ssh.yaml
  /node/import/offer/{offer_id}:
    $ref: ./paths/nodes/import-offer.yaml
  /clusters:
    $ref: ./paths/clusters/list.yaml
  /clusters/adopt:
    $ref: ./paths/clusters/adopt-cluster.yaml
  /cluster/{cluster_id}:
    $ref: ./paths/clusters/cluster.yaml
  /cluster/{cluster_id}/nodes:
    $ref: ./paths/clusters/nodes.yaml
  /cluster/{cluster_id}/resources:
    $ref: ./paths/clusters/resources.yaml
  /cluster/{cluster_id}/nodes/{node_id}:
    $ref: ./paths/clusters/delete-node.yaml
  /cluster/{cluster_id}/deploy:
    $ref: ./paths/clusters/deploy.yaml
  /cluster/{cluster_id}/logs:
    $ref: ./paths/clusters/logs.yaml
  /cluster/{cluster_id}/kubeconfig:
    $ref: ./paths/clusters/kubeconfig.yaml
  /cluster/{cluster_id}/dashboard-auth:
    $ref: ./paths/clusters/dashboard-auth.yaml
  /cluster/{cluster_id}/dashboard-url:
    $ref: ./paths/clusters/dashboard-url.yaml
  /colonies:
    $ref: ./paths/colonies/list.yaml
  /colony/{colony_id}:
    $ref: ./paths/colonies/colony.yaml
  /colony/{colony_id}/kubeconfig:
    $ref: ./paths/colonies/kubeconfig.yaml
  /services:
    $ref: ./paths/services/list.yaml
  /service/{service_deployment_id}:
    $ref: ./paths/services/service.yaml
  /workspaces:
    $ref: ./paths/workspaces/list.yaml
  /workspace/{workspace_id}:
    $ref: ./paths/workspaces/workspace.yaml
  /workspace/{workspace_id}/stop:
    $ref: ./paths/workspaces/stop-workspace.yaml
  /workspace/{workspace_id}/start:
    $ref: ./paths/workspaces/start-workspace.yaml
  /workspace/{workspace_id}/logs:
    $ref: ./paths/workspaces/logs.yaml
  /management/credentials:
    $ref: ./paths/management/list-credentials.yaml
  /management/cluster-templates:
    $ref: ./paths/management/list-cluster-templates.yaml
  /management/workspace-templates:
    $ref: ./paths/management/list-workspace-templates.yaml
  /management/service-templates:
    $ref: ./paths/management/list-service-templates.yaml
  /management/ssh-keys:
    $ref: ./paths/management/list-ssh-keys.yaml
  /management/ssh-key/{ssh_key_id}:
    $ref: ./paths/management/ssh-key.yaml
components:
  schemas:
    Offer:
      $ref: ./components/schemas/offer.yaml
    OffersListResponse:
      $ref: ./components/schemas/offers-list-response.yaml
    BaseNode:
      $ref: ./components/schemas/base-node.yaml
    CloudNode:
      $ref: ./components/schemas/cloud-node.yaml
    SelfManagedNode:
      $ref: ./components/schemas/self-managed-node.yaml
    NodeResponse:
      $ref: ./components/schemas/node-response.yaml
    NodesListResponse:
      $ref: ./components/schemas/nodes-list-response.yaml
    NodeImportResponse:
      $ref: ./components/schemas/node-import-response.yaml
    NodePatchResponse:
      $ref: ./components/schemas/node-patch-response.yaml
    Cluster:
      $ref: ./components/schemas/cluster.yaml
    ClustersListResponse:
      $ref: ./components/schemas/clusters-list-response.yaml
    ClusterCreateResponse:
      $ref: ./components/schemas/cluster-create-response.yaml
    ClusterNodesResponse:
      $ref: ./components/schemas/cluster-nodes-response.yaml
    ClusterKubeconfigResponse:
      $ref: ./components/schemas/cluster-kubeconfig-response.yaml
    ClusterServicesResponse:
      $ref: ./components/schemas/cluster-services-response.yaml
    ClusterDeployResponse:
      $ref: ./components/schemas/cluster-deploy-response.yaml
    ClusterNodeRemoveResponse:
      $ref: ./components/schemas/cluster-node-remove-response.yaml
    Colony:
      $ref: ./components/schemas/colony.yaml
    ColoniesListResponse:
      $ref: ./components/schemas/colonies-list-response.yaml
    ColonyCreateResponse:
      $ref: ./components/schemas/colony-create-response.yaml
    ColonyDeleteResponse:
      $ref: ./components/schemas/colony-delete-response.yaml
    ColonyResponse:
      $ref: ./components/schemas/colony-response.yaml
    Service:
      $ref: ./components/schemas/service-deployment.yaml
    ServiceDeployment:
      $ref: ./components/schemas/service-deployment.yaml
    WorkspaceCreateResponse:
      $ref: ./components/schemas/workspace-create-response.yaml
    WorkspaceDeleteResponse:
      $ref: ./components/schemas/workspace-delete-response.yaml
    WorkspaceResponse:
      $ref: ./components/schemas/workspace-response.yaml
    WorkspaceStopResponse:
      $ref: ./components/schemas/workspace-stop-response.yaml
    WorkspaceStartResponse:
      $ref: ./components/schemas/workspace-start-response.yaml
    WorkspaceLogsResponse:
      $ref: ./components/schemas/workspace-log-payload.yaml
    WorkspaceTemplate:
      $ref: ./components/schemas/workspace-template.yaml
    WorkspaceListResponse:
      $ref: ./components/schemas/workspaces-list-response.yaml
    SshKey:
      $ref: ./components/schemas/ssh-key.yaml
    Kubeconfig:
      $ref: ./components/schemas/kubeconfig.yaml
    ClusterEventPayload:
      $ref: ./components/schemas/cluster-event-payload.yaml
  responses:
    NodeDeleteResponse:
      $ref: ./components/responses/node-delete-response.yaml
    NodeResponse:
      $ref: ./components/responses/node-response.yaml
    NodesListResponse:
      $ref: ./components/responses/nodes-list-response.yaml
    NodeImportResponse:
      $ref: ./components/responses/node-import-response.yaml
    NodePatchResponse:
      $ref: ./components/responses/node-patch-response.yaml
    ClusterCreateResponse:
      $ref: ./components/responses/cluster-create-response.yaml
    ClusterDeployResponse:
      $ref: ./components/responses/cluster-deploy-response.yaml
    ClusterDashboardUrlResponse:
      $ref: ./components/responses/cluster-dashboard-url-response.yaml
    ClusterKubeconfigResponse:
      $ref: ./components/responses/cluster-kubeconfig-response.yaml
    ClusterNodeRemoveResponse:
      $ref: ./components/responses/cluster-node-remove-response.yaml
    ClusterNodesResponse:
      $ref: ./components/responses/cluster-nodes-response.yaml
    ClusterLogsResponse:
      $ref: ./components/responses/cluster-logs-response.yaml
    ClusterResourcesListResponse:
      $ref: ./components/responses/cluster-resources-list-response.yaml
    ClusterListResponse:
      $ref: ./components/responses/clusters-list-response.yaml
    ClusterServicesResponse:
      $ref: ./components/responses/cluster-services-response.yaml
    ClusterResponse:
      $ref: ./components/responses/cluster-response.yaml
    ColonyCreateResponse:
      $ref: ./components/responses/colony-create-response.yaml
    ColonyDeleteResponse:
      $ref: ./components/responses/colony-delete-response.yaml
    ColonyResponse:
      $ref: ./components/responses/colony-response.yaml
    ServiceListResponse:
      $ref: ./components/responses/services-list-response.yaml
    WorkspaceCreateResponse:
      $ref: ./components/responses/workspace-create-response.yaml
    WorkspaceDeleteResponse:
      $ref: ./components/responses/workspace-delete-response.yaml
    WorkspaceResponse:
      $ref: ./components/responses/workspace-response.yaml
    WorkspaceStopResponse:
      $ref: ./components/responses/workspace-stop-response.yaml
    WorkspaceStartResponse:
      $ref: ./components/responses/workspace-start-response.yaml
    WorkspaceLogsResponse:
      $ref: ./components/responses/workspace-logs-response.yaml
    WorkspaceTemplateListResponse:
      $ref: ./components/responses/workspace-template-list-response.yaml
    WorkspaceListResponse:
      $ref: ./components/responses/workspaces-list-response.yaml
    SshKeyListResponse:
      $ref: ./components/responses/ssh-keys-list-response.yaml
    SshKeyCreateResponse:
      $ref: ./components/responses/ssh-key-create-response.yaml
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: >-
            https://exalsius.eu.auth0.com/authorize?audience=http://api.exalsius.ai
          tokenUrl: https://exalsius.eu.auth0.com/oauth/token
          scopes:
            openid: Request an ID token (mandatory for OIDC)
            gpuradar: Scope used for GPU radar operations
            nodeagent: Scope used for node agent operations
            viewdashboard: Scope used for viewing dashboard
security:
  - OAuth2:
      - openid
